<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="/index_style.css">
</head>
<body>

    <h1 style="margin: 1rem;">Chats</h1>

    <form method="get" action="/chats/new">
        <button class="new-chat">New Chat</button>
    </form>

    <% for(let chat of allChats) { %>
        <div class="chat">
            <p>From: <%= chat.from %> </p>
            <div class="msg">
                <p> <%= chat.msg %> </p>
                <form method="get" action="/chats/<%= chat._id %>/edit" style="display: inline-block;">
                    <button>Edit</button>
                </form>  
                <form method="post" action="/chats/<%= chat._id %>?_method=DELETE"  style="display: inline-block;">
                    <button>Delete</button>
                </form>  
            </div>
            <p>To: <%= chat.to %> </p>
        <hr>
        <p> <%= chat.created_at.toString().split(" ")[4] %> </p>
        <p> <%= chat.created_at.toString().split(" ").slice(0, 4).join("-") %> </p>
    </div>
    <% } %>
    
</body>
</html>

